* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  font-size: 2rem;
  cursor: pointer;
}

.star.filled {
  color: gold;
}
